# dependencies
/node_modules
/.pnpm
/.yarn

# next.js
/.next/
/out/

# production
/build
/dist

# debug & logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local
.env

# vercel & ant-gravity
.vercel
.gemini

# OS files
.DS_Store
Thumbs.db
